# Crossbar
.crossbar/*
!.crossbar/config.json

# Pipenv
Pipfile*
downloads/

# log, banco de dados e arquivos gerados
log/
dados/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
python*/
Python*/
