[Unit]
Description=Crossbar.io
After=network.target

[Service]
Type=simple
User=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/home/pi/python3.6/bin/crossbar start --cbdir /home/pi/Peixoto/.crossbar/
Restart=on-abort

[Install]
WantedBy=multi-user.target
