[Unit]
Description=Crossbar.io
After=network.target

[Service]
Type=simple
User=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/home/badaro/pypy3-v6.0.0-linux64/bin/crossbar start --cbdir /home/badaro/Peixoto/.crossbar/
Restart=on-abort

[Install]
WantedBy=multi-user.target
