[Unit]
Description=Crossbar.io pi client
After=syslog.target network.target

[Service]
Type=simple
User=badaro
StandardInput=null
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=peixoto_log
ExecStart=/bin/sh -c '/usr/bin/python -u /home/badaro/Peixoto/peixoto.py raspi 2>&1 >> /home/badaro/log/peixoto.log'
Restart=always

[Install]
WantedBy=multi-user.target
