[Unit]
Description=Crossbar.io pi client
After=syslog.target network.target

[Service]
Type=simple
User=badaro
StandardInput=null
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=peixoto_log
ExecStart=/usr/bin/python -u /home/badaro/Peixoto/peixoto.py raspi
Restart=always

[Install]
WantedBy=multi-user.target
