[Unit]
Description=Crossbar.io pi client
After=syslog.target network.target

[Service]
Type=simple
User=pi
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/home/pi/python3.6/bin/python -u /home/pi/Peixoto/peixoto.py
Restart=always

[Install]
WantedBy=multi-user.target
