@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	background-color: #efefef;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
    text-rendering: optimizeLegibility;
}

header{
    box-sizing: border-box;
	text-align: center;
    width: 100%;
    padding: 25px 25px;
    background-color: #673AB7;
    overflow: hidden;
}

header h1{
    float: left;
	font: normal 24px'Open Sans', sans-serif;
	color: #fff;
}

header a{
    color:#fff;
    float: right;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color:#F05283;
}

header a.ativo{
    background-color:#6caee0;
}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

ul li a.active{
    background-color: #F05283;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}

@media (max-width: 1000px) {


    header h1{
        float: none;
    }

    header a{
        margin-top: 25px;
        float: none;
    }

}

.main-content{
    margin-bottom: 75px;
    max-width: 640px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}

.main-content .results {
    width: 90vw;
    max-width: 550px;
    margin: 4vh auto;
    margin-top: 1rem;
}

.results__heading {
    font-size: 100%;
    text-align: left;
    color: #5F5F5F;
  }

.results__display-wrapper {
    margin-top: 16px;
    margin-top: 1rem;
    padding: 8px 16px;
    padding: 0.5rem 1rem;
    background: #f8f8f8;
    border: 1px solid #cdcfcf;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 20em;
    text-align: left;
    font: normal 12px/1.5 monospace;
  }

/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}

/* -- Link to Tutorialzine -- */

.tz-link{
	text-decoration: none;
	color: #fff !important;
	font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
	color: #da431c;
}
